.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.app-title {
    width: fit-content;
}

.debug-button {
    grid-column: 1 / -1;
    justify-self: center;
}

.flash-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    width: fit-content;
    /* justify-content: start; */
}

.flash-wrapper * {
    width: fit-content;
}

.flash-wrapper input {
    justify-self: end;
}

.flash-wrapper label {
    justify-self: start;
}

input[type="radio"].flash-input:checked+label.flash-label {
    font-weight: bolder;
}

.checkboxes-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    width: fit-content;
}

.checkboxes-wrapper > * {
    width: fit-content;
}

.checkboxes-wrapper input {
    justify-self: end;
}

.checkboxes-wrapper label {
    justify-self: start;
}